{:paths ["src"]

 :deps
 {org.clojure/clojure                               {:mvn/version "1.12.0"}
  integrant/integrant                               {:mvn/version "0.8.1"}
  org.apache.kafka/kafka-clients                    {:mvn/version "3.7.1"}
  io.confluent/kafka-avro-serializer                {:mvn/version "7.7.1"}
  io.confluent/kafka-schema-registry-client         {:mvn/version "7.7.1"}
  cheshire/cheshire                                 {:mvn/version "5.13.0"}
  org.slf4j/slf4j-simple                            {:mvn/version "2.0.13"}}

 :mvn/repos
 {"confluent" {:url "https://packages.confluent.io/maven/"}}}
